.badge .label {
    -fx-font-size: 12px;
    -fx-text-fill: text-white-color;
    -fx-border-width: 0;
    -fx-background-color: error-color;
    -fx-background-radius: 9px;
    -fx-alignment: center;
    -fx-padding: 0 4px;
    -fx-min-width: 14px;
}

.badge .dot{
    -fx-pref-width: 8px;
    -fx-pref-height: 8px;
    -fx-background-color: error-color;
    -fx-background-radius: 4px;
}
