.search-box {
    -fx-pref-width: 170px;
    -fx-pref-height: 34px;
    -fx-background-color: white;
    -fx-background-radius: 17px;
    -fx-border-color: gray-color;
    -fx-border-radius: 17px;
    -fx-padding: 0 8px 0 6px;
}

.search-box .search-btn {
    -fx-cursor: hand;
    -fx-pref-width: 18px;
    -fx-pref-height: 18px;
    -fx-background-color: gray-color;
    -fx-shape: "M1012 947.52L717.12 652.64a390.56 390.56 0 1 0-65.76 69.92L944 1015.2z m-912-525.28a302.72 302.72 0 1 1 302.4 302.72A303.04 303.04 0 0 1 99.84 422.24z";
}

.search-box:hover {
    -fx-border-color: gray-dark-color;
}

.search-box .search-btn:hover {
    -fx-background-color: gray-dark-color;
}

.search-box .search-text {
    -fx-border-width: 0;
    -fx-padding: 0;
}