/* Microsoft YaHei UI */
/* normal */
@font-face {
    src: url("font/msyh.ttf");
}

/* Microsoft YaHei UI */
/* bold */
@font-face {
    src: url("font/msyhbd.ttf");
}

@font-face {
    src: url("font/MaterialIcons-Regular.ttf");
}

.root {

    -fx-font-family: 'Microsoft YaHei UI';

    -fx-font-size: 14px;

    /* 色调 */
    primary-color: #5f93e7;
    primary-dark-color: #21395d;

    /* 禁用颜色 */
    disable-color: #a9a9a9;

    /* 基本颜色 */
    info-color: #5f93e7;
    info-light-color: #759de7;
    info-dark-color: #447ce7;
    success-color: #34b78d;
    success-light-color: #5dc5a4;
    success-dark-color: #2fb389;
    warn-color: #ec971f;
    warn-light-color: #f0ad4e;
    warn-dark-color: #d58512;
    error-color: #f5222d;
    error-light-color: #ff4d4f;
    error-dark-color: #cf1322;
    gray-color: #a5aebf;
    gray-light-color: #c6cfdd; /* rgba(51, 51, 51, 0.6) */
    gray-dark-color: #8c99ac;

    /* Text */
    text-black-color: black;
    text-primary-color: #5f93e7;
    text-gray-color: #333333;
    text-light-color: #c6cfdd;
    text-white-color: white;

    /* TableRow */
    table-row-odd: #d9dee6;
    table-row-even: white;
}