@import "basic.css";

/*******************************************************************************
 *                                                                             *
 *                                                                    *
 *                                                                             *
 ******************************************************************************/

.scroll-bar,
.text-area .scroll-bar,
.list-view .scroll-bar {
    -fx-background-color: white;
}

.scroll-bar:horizontal {
    -fx-pref-height: 14px;
}

.scroll-bar:vertical {
    -fx-pref-width: 14px;
}

.text-area .scroll-bar:horizontal,
.list-view .scroll-bar:horizontal {
    -fx-pref-height: 10px;
}

.text-area .scroll-bar:vertical,
.list-view .scroll-bar:vertical {
    -fx-pref-width: 10px;
}

.scroll-bar > .thumb {
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-background-radius: 14px;
}

.scroll-bar > .thumb:hover {
    -fx-background-color: rgba(0, 0, 0, 0.4);
}

.scroll-bar > .thumb:pressed {
    -fx-background-color: rgba(0, 0, 0, 0.5);
}

.scroll-bar > .increment-button,
.scroll-bar > .decrement-button,
.scroll-bar > .increment-button > .increment-arrow,
.scroll-bar > .decrement-button > .decrement-arrow,
.text-area .scroll-bar > .increment-button,
.list-view .scroll-bar > .decrement-button,
.text-area .scroll-bar > .increment-button > .increment-arrow,
.list-view .scroll-bar > .decrement-button > .decrement-arrow,
.corner {
    -fx-background-color: white;
}

/*******************************************************************************
 *                                                                             *
 * Button                                                                      *
 *                                                                             *
 ******************************************************************************/
.button {
    -fx-background-insets: 0;
    -fx-border-width: 0;
    -fx-cursor: hand;
}

.btn, .btn-radius, .btn-small {
    -fx-text-fill: text-white-color;
    -fx-background-radius: 2px;
    -fx-background-color: gray-color;
}

.btn {
    -fx-pref-width: 112px;
    -fx-pref-height: 30px;
}

.btn-radius {
    -fx-background-radius: 30px;
}

.btn-small {
    -fx-pref-height: 24px;
    -fx-padding: 2px 8px;
}

.btn-default {
    -fx-background-color: gray-color;
}

.btn-default:hover {
    -fx-background-color: gray-light-color;
}

.btn-default:armed {
    -fx-background-color: gray-dark-color;
}

.btn-success {
    -fx-background-color: success-color;
}

.btn-success:hover {
    -fx-background-color: success-light-color;
}

.btn-success:armed {
    -fx-background-color: success-dark-color;
}

.btn-info {
    -fx-background-color: info-color;
}

.btn-info:hover {
    -fx-background-color: info-light-color;
}

.btn-info:armed {
    -fx-background-color: info-dark-color;
}

.btn-warning {
    -fx-background-color: warn-color;
}

.btn-warning:hover {
    -fx-background-color: warn-light-color;
}

.btn-warning:armed {
    -fx-background-color: warn-dark-color;
}

.btn-error {
    -fx-background-color: error-color;
}

.btn-error:hover {
    -fx-background-color: error-light-color;
}

.btn-error:armed {
    -fx-background-color: error-dark-color;
}

.btn-nobg {
    -fx-background-color: rgba(0, 0, 0, 0);
    -fx-text-fill: text-black-color;
}

.btn-nobg:hover {
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * SegmentedButton                                                             *
 *                                                                             *
 ******************************************************************************/
.segmented-button {
    -fx-cursor: hand;
    -fx-background-color: gray-light-color;
}

.segmented-button.no-background {
    -fx-background-color: white;
}

.segmented-button,
.segmented-button .toggle-button {
    -fx-pref-height: 26px;
    -fx-background-radius: 26px;
}

.segmented-button .toggle-button {
    -fx-pref-width: 112px;
    -fx-background-color: transparent;
    -fx-background-insets: 0;
}

.segmented-button .toggle-button:hover,
.segmented-button .toggle-button:selected {
    -fx-text-fill: white;
    -fx-background-color: primary-color;
}

/*******************************************************************************
 *                                                                             *
 * ToolBar                                                                     *
 *                                                                             *
 ******************************************************************************/

.tool-bar {
    -fx-background-color: white;
}

.tool-bar > .tool-bar-overflow-button .arrow {

}

/*******************************************************************************
 *                                                                             *
 * TextField                                                                   *
 *                                                                             *
 ******************************************************************************/
.text-field {
    -fx-prompt-text-fill: text-light-color;
    -fx-background-color: white;
    -fx-background-radius: 2px;
    -fx-border-color: text-light-color;
    -fx-border-radius: 2px;
}

.text-field:hover, .text-field:focused {
    -fx-border-color: primary-color;
}

/*******************************************************************************
 *                                                                             *
 * Spinner                                                                     *
 *                                                                             *
 ******************************************************************************/
.spinner {
    -fx-background-color: white;
}

.spinner > * {
    -fx-border-color: text-light-color;
}

.spinner > .text-field {
    -fx-border-width: 1px 0 1px 1px;
    -fx-border-radius: 2px 0 0 2px;
}

.spinner > .increment-arrow-button {
    -fx-background-color: white;
    -fx-border-width: 1px 1px 0 0;
    -fx-border-radius: 0 2px 0 0;
    -fx-cursor: hand;
}

.spinner > .decrement-arrow-button {
    -fx-background-color: white;
    -fx-border-width: 0 1px 1px 0;
    -fx-border-radius: 0 0 2px 0;
    -fx-cursor: hand;
}

.spinner:hover > .text-field,
.spinner:focused > .text-field {
    -fx-border-color: primary-color;
}

.spinner:hover > .increment-arrow-button,
.spinner:focused > .increment-arrow-button,
.spinner:hover > .decrement-arrow-button,
.spinner:focused > .decrement-arrow-button {
    -fx-border-color: primary-color;
}

.spinner > .increment-arrow-button > .increment-arrow {
    -fx-background-color: gray-dark-color;
}

.spinner > .decrement-arrow-button > .decrement-arrow {
    -fx-background-color: gray-dark-color;
}

.spinner > .increment-arrow-button:hover > .increment-arrow {
    -fx-background-color: primary-color;
}

.spinner > .decrement-arrow-button:hover > .decrement-arrow {
    -fx-background-color: primary-color;
}

/*******************************************************************************
 *                                                                             *
 * TextArea                                                                    *
 *                                                                             *
 ******************************************************************************/

.text-area {
    -fx-prompt-text-fill: text-light-color;
    -fx-background-color: white;
    -fx-background-radius: 2px;
    -fx-border-color: text-light-color;
    -fx-border-radius: 2px;
}

.text-area .content {
    -fx-background-color: white;
}

.text-area:hover, .text-area:focused {
    -fx-border-color: primary-color;
}

/*******************************************************************************
 *                                                                             *
 * ToggleButton                                                                *
 *                                                                             *
 ******************************************************************************/
/* 需要 UI 给设计 */
.toggle-button,
.toggle-button:focused {
    -fx-background-color: gray-color;
}

.toggle-button:hover {
    -fx-background-color: gray-light-color;
}

.toggle-button:selected {
    -fx-background-color: gray-dark-color;
}

/*******************************************************************************
 *                                                                             *
 * ToggleSwitch                                                                *
 *                                                                             *
 ******************************************************************************/
.toggle-switch {
    /* 解决 Switch 左边的空隙问题 */
}

.toggle-switch > .thumb-area {
    -fx-cursor: hand;
    -fx-background-color: #c0c0c0;
}

.toggle-switch > .thumb {
    -fx-cursor: hand;
    -fx-background-color: white;
    -fx-background-insets: 2;
    -fx-border-width: 0;
}

.toggle-switch:selected > .thumb-area {
    -fx-background-color: primary-color;
}

/*******************************************************************************
 *                                                                             *
 * ChoiceBox, ComboBox                                                         *
 *                                                                             *
 ******************************************************************************/
.choice-box,
.combo-box {
    -fx-background-color: white;
    -fx-background-radius: 2px;
    -fx-border-color: gray-light-color;
    -fx-border-radius: 2px;
}

.choice-box:hover, .choice-box:focused, .choice-box:showing,
.combo-box:hover, .combo-box:focused, .combo-box:showing {
    -fx-border-color: primary-color;
}

.choice-box > .open-button > .arrow,
.combo-box > .open-button > .arrow {
    -fx-background-color: gray-dark-color;
}

.choice-box:hover > .open-button > .arrow,
.choice-box:focused > .open-button > .arrow,
.choice-box:showing > .open-button > .arrow,
.combo-box:hover > .arrow-button > .arrow,
.combo-box:focused > .arrow-button > .arrow,
.combo-box:showing > .arrow-button > .arrow {
    -fx-background-color: primary-color;
}

/*******************************************************************************
 *                                                                             *
 * RadioButton                                                                 *
 *                                                                             *
 ******************************************************************************/
.radio-button > .radio {
    -fx-background-color: white;
    -fx-background-radius: 18px;
    -fx-border-color: gray-light-color;
    -fx-border-radius: 18px;
    -fx-border-insets: -1;
}

.radio-button:hover > .radio,
.radio-button:focused > .radio,
.radio-button:selected > .radio {
    -fx-border-color: primary-color;
}

.radio-button:selected > .radio > .dot {
    -fx-background-insets: 0;
    -fx-background-color: primary-color;
}

/*******************************************************************************
 *                                                                             *
 * CheckBox                                                                    *
 *                                                                             *
 ******************************************************************************/
.check-box {
    -fx-background-insets: 0;
    -fx-border-width: 0;
}

.check-box > .box {
    -fx-border-color: gray-light-color;
    -fx-background-color: white;
}

.check-box:hover > .box {
    -fx-border-color: success-color;
}

.check-box:indeterminate > .box,
.check-box:selected > .box {
    -fx-background-color: success-color;
    -fx-border-color: success-color;
}

.check-box:indeterminate > .box > .mark,
.check-box:selected > .box > .mark {
    -fx-background-color: white;
}

/*******************************************************************************
 *                                                                             *
 * Separator                                                                   *
 *                                                                             *
 ******************************************************************************/
.separator {
    -fx-padding: 5px 2px;
}

.separator > .line {
    -fx-border-width: 0;
    -fx-background-color: gray-color;
}

.separator:horizontal > .line {
    -fx-pref-height: 2px;
}

.separator:vertical > .line {
    -fx-pref-width: 2px;
}

/*******************************************************************************
 *                                                                             *
 * ContextMenu                                                                 *
 *                                                                             *
 ******************************************************************************/
.context-menu {
    -fx-padding: 0;
    -fx-background-color: white;
    -fx-background-radius: 2px;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-border-color: gray-light-color;
}

.menu-item:hover,
.menu-item:focused {
    -fx-background-color: primary-color;
}

/*noinspection CssInvalidPseudoSelector*/
.radio-menu-item:checked > .left-container > .radio {
    -fx-background-color: primary-color;
}

/*noinspection CssInvalidPseudoSelector*/
.radio-menu-item:checked:hover > .left-container > .radio,
.radio-menu-item:checked:focused > .left-container > .radio {
    -fx-background-color: white;
}

/*******************************************************************************
 *                                                                             *
 * ListView                                                                    *
 *                                                                             *
 ******************************************************************************/
.list-view {
    -fx-background-color: white;
    /* 解决选中时,出现的bound变大问题 */
    -fx-background-insets: 0px;
}

.list-view .virtual-flow,
.list-view .clipped-container {
    -fx-border-width: 0;
}

.list-view .list-cell {
    -fx-background-color: white;
    -fx-pref-height: 24px;
    -fx-text-fill: text-black-color;
}

.list-view .list-cell:hover,
.list-view .list-cell:selected {
    -fx-text-fill: primary-color;
}

.list-view.box-list .list-cell {
    -fx-text-fill: text-black-color;
    -fx-background-color: white;
    -fx-border-width: 0 0 0 4px;
    -fx-border-color: white;
    -fx-pref-height: 40px;
}

.list-view.box-list .list-cell:hover,
.list-view.box-list .list-cell:selected {
    -fx-text-fill: primary-color;
}

.list-view.box-list .list-cell:selected {
    -fx-background-color: #ccdaf4;
    -fx-border-color: primary-color;
}

.list-view.block-list .list-cell {
    -fx-text-fill: text-black-color;
    -fx-background-color: white;
    -fx-border-color: gray-light-color;
    -fx-border-width: 0 0 1px 0;
    -fx-pref-height: 40px;
}

.list-view.block-list .list-cell:hover {
    -fx-text-fill: primary-color;
}

.list-view.block-list .list-cell:selected {
    -fx-background-color: primary-color;
}

.list-view.block-list .list-cell:selected,
.list-view.block-list .list-cell:selected:hover {
    -fx-text-fill: white;
}

/*******************************************************************************
 *                                                                             *
 * ScrollPane                                                                  *
 *                                                                             *
 ******************************************************************************/
.scroll-pane,
.scroll-pane > .viewport {
    -fx-background-color: white;
    /* 解决选中时,出现的bound变大问题 */
    -fx-background-insets: 0;
}

/*******************************************************************************
 *                                                                             *
 * TabPane                                                                     *
 *                                                                             *
 ******************************************************************************/

.tab-pane > .tab-content-area,
.tab-pane > .tab-header-area > .tab-header-background,
.tab-pane > .headers-region {
    -fx-background-color: white;
}

.tab-pane > .tab-header-area > .tab-header-background {
    -fx-border-width: 0 0 1px 0;
    -fx-border-color: #e3e3e3;
}

.tab-pane > .tab-header-area > .headers-region > .tab {
    -fx-background-color: #f8f8f8;
    -fx-cursor: hand;
}

.tab-pane > .tab-header-area > .headers-region > .tab:top {
    -fx-border-width: 1px;
    -fx-border-color: #e3e3e3;
    -fx-border-radius: 2px 2px 0 0;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected {
    -fx-background-color: white;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected:top {
    -fx-border-color: #e3e3e3 #e3e3e3 white #e3e3e3;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-close-button:hover {
    -fx-background-color: error-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab > .tab-container > .tab-label {
    -fx-font-size: 16px;
    -fx-padding: 0px 15px;
}

.tab-pane > .tab-header-area > .headers-region > .tab:hover > .tab-container > .tab-label {
    -fx-text-fill: primary-color;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .tab-label {
    -fx-text-fill: primary-color;
    -fx-font-weight: bold;
}

.tab-pane > .tab-header-area > .headers-region > .tab:selected > .tab-container > .focus-indicator {
    -fx-border-width: 0;
}

.tab-pane > .tab-header-area > .control-buttons-tab {
    -fx-cursor: hand;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button {
    -fx-background-color: white;
    -fx-border-width: 0;
}

.tab-pane > .tab-header-area > .control-buttons-tab > .container > .tab-down-button > .arrow:hover {
    -fx-background-color: primary-color;
}

/*******************************************************************************
 *                                                                             *
 * TabView                                                                     *
 *                                                                             *
 ******************************************************************************/

.table-view {
    -fx-background-color: white;
}

.table-view > .column-header-background {
    -fx-pref-height: 35px;
}

.table-view > .column-header-background,
.table-view > .column-header-background > .filler,
.table-view > .column-header-background > .nested-column-header > .column-header {
    -fx-background-color: primary-color;
}

.table-view > .column-header-background > .nested-column-header > .column-header > .label {
    -fx-text-fill: white;
}

.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell {
    -fx-cell-size: 35px;
    -fx-border-width: 2px 0px;
}

.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:odd {
    -fx-background-color: table-row-odd;
    -fx-border-color: table-row-odd;
}

.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:even {
    -fx-background-color: table-row-even;
    -fx-border-color: table-row-even;
}

.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:selected,
.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell:hover {
    -fx-border-color: #7a889d;
}

.table-view > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell {
    -fx-border-width: 0;
    -fx-alignment: center-left;
}

.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell > .table-cell {
    -fx-text-fill: text-black-color;
}

/*******************************************************************************
 *                                                                             *
 * TreeView                                                                    *
 *                                                                             *
 ******************************************************************************/

.tree-view {
    -fx-background-color: white;
    -fx-font-weight: bold;
}

.tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell {
    -fx-background-color: white;
    -fx-padding: 5px 0px;
}

.tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell:selected {
    -fx-background-color: #ccdaf4;
}

.tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell:selected,
.tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell:hover {
    -fx-text-fill: primary-color;
}

.tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell > .text {
    -fx-background-color: #ccdaf4;
}

.tree-view > .virtual-flow > .clipped-container > .sheet > .tree-cell > .tree-disclosure-node > .arrow {
    -fx-background-color: black;
}

/*******************************************************************************
 *                                                                             *
 * DatePicker                                                                  *
 *                                                                             *
 ******************************************************************************/
.date-picker,
.date-picker > .arrow-button {
    -fx-background-color: white;
}

.date-picker {
    -fx-border-color: gray-light-color;
    -fx-border-radius: 2px;
}

.date-picker:hover,
.date-picker:focused {
    -fx-border-color: primary-color;
}

.date-picker > .arrow-button > .arrow {
    -fx-background-insets: 0;
    -fx-pref-width: 14px;
    -fx-pref-height: 14px;
    -fx-shape: "M940.218182 107.054545h-209.454546V46.545455h-65.163636v60.50909H363.054545V46.545455H297.890909v60.50909H83.781818c-18.618182 0-32.581818 13.963636-32.581818 32.581819v805.236363c0 18.618182 13.963636 32.581818 32.581818 32.581818h861.090909c18.618182 0 32.581818-13.963636 32.581818-32.581818V139.636364c-4.654545-18.618182-18.618182-32.581818-37.236363-32.581819zM297.890909 172.218182V232.727273h65.163636V172.218182h307.2V232.727273h65.163637V172.218182h176.872727v204.8H116.363636V172.218182h181.527273zM116.363636 912.290909V442.181818h795.927273v470.109091H116.363636z";
}

.date-picker > .arrow-button:hover > .arrow {
    -fx-background-color: primary-color;
}

.date-picker > .text-field {
    -fx-border-width: 0;
}

.date-picker-popup {
    -fx-background-color: gray-light-color;
}

.date-picker-popup > .month-year-pane {
    -fx-background-color: white;
    -fx-border-color: gray-light-color white;
}

.date-picker-popup > .month-year-pane > .spinner > .button {
    -fx-background-insets: 0;
    -fx-background-color: white;
}

.date-picker-popup > .month-year-pane > .spinner > .button:hover > .left-arrow,
.date-picker-popup > .month-year-pane > .spinner > .button:hover > .right-arrow {
    -fx-background-color: primary-color;
}

.date-picker-popup > .month-year-pane > .spinner > .label {
    -fx-border-width: 0;
    -fx-font-weight: bold;
}

.date-picker-popup > .calendar-grid {
    -fx-background-color: white;
    -fx-vgap: 1px;
    -fx-hgap: 1px;
}

.date-picker-popup > .calendar-grid > .date-cell {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
    -fx-pref-width: 38px;
}

.date-picker-popup > .calendar-grid > .date-cell:hover {
    -fx-text-fill: primary-color;
}

.date-picker-popup > .calendar-grid > .date-cell.previous-month,
.date-picker-popup > .calendar-grid > .date-cell.next-month {
    -fx-text-fill: gray-light-color;
}

.date-picker-popup > .calendar-grid > .date-cell.selected {
    -fx-text-fill: primary-color;
    -fx-font-weight: bold;
    -fx-background-color: #ccdaf4;
    -fx-border-color: primary-color;
}

/*******************************************************************************
 *                                                                             *
 * ColorPicker                                                                 *
 *                                                                             *
 ******************************************************************************/

.color-picker {
    -fx-background-color: white;
    -fx-border-color: gray-light-color;
    -fx-border-radius: 2px;
}

.color-picker:hover,
.color-picker:focused {
    -fx-border-color: primary-color;
}

.color-palette-region > .color-palette {
    -fx-background-color: white;
    -fx-border-color: gray-light-color;
}

.color-palette-region > .color-palette > .separator > .line {
    -fx-background-color: gray-light-color;
}

.color-palette-region > .color-square {
    -fx-background-color: primary-color;
    -fx-background-radius: 2px;
    -fx-background-insets: -1px;
}

/*******************************************************************************
 *                                                                             *
 * ColorPicker                                                                 *
 *                                                                             *
 ******************************************************************************/
.hyperlink:hover {
    -fx-text-fill: primary-color;
}

/*******************************************************************************
 *                                                                             *
 * Slider                                                                      *
 *                                                                             *
 ******************************************************************************/

.slider > .track {
    -fx-background-color: gray-color;
}

.slider > .thumb {
    -fx-background-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 17px;
    -fx-border-color: primary-color;
}

.slider:hover > .track {
    -fx-background-color: gray-dark-color;
}

.slider:hover > .thumb {
    -fx-background-color: #ccdaf4;
}

.slider > .thumb:pressed {
    -fx-background-color: primary-color;
}

/* ==================================================== */

.label-h2 {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 0 0 0 6px;
    -fx-border-width: 0 0 0 7px;
    -fx-border-color: primary-color;
}

/*******************************************************************************
 *                                                                             *
 * Modal                                                                       *
 *                                                                             *
 ******************************************************************************/
.modal {
    -fx-border-width: 1px;
    -fx-border-color: primary-dark-color;
    -fx-padding: 0px 0px 10px 0px;
}

.modal > .modal-title-bar {
    -fx-pref-height: 30px;
    -fx-background-color: primary-dark-color;
}

.modal > .modal-title-bar .modal-title {
    -fx-text-fill: text-white-color;
}

/* 样式无效，原因未查明 */
.modal > .modal-title-bar > .modal-control-pane {
    -fx-cursor: hand;
    -fx-pref-width: 30px;
    -fx-pref-height: 30px;
}

.modal > .modal-title-bar > .modal-control-pane:hover {
    -fx-backgroud-color: error-dark-color;
}

.modal > .modal-title-bar > .modal-control-pane:focused {
    -fx-backgroud-color: error-light-color;
}
/* END */

.modal > .modal-title-bar > .modal-control-pane > .modal-close-btn {
    -fx-background-color: white;
    -fx-max-width: 10px;
    -fx-max-height: 10px;
    -fx-shape: "M 0,0 H1 L 4,3 7,0 H8 V1 L 5,4 8,7 V8 H7 L 4,5 1,8 H0 V7 L 3,4 0,1 Z";
}
.modal > .modal-title-bar > .modal-control-pane:hover > .modal-close-btn {
    -fx-background-color: error-light-color;
}
.modal > .modal-title-bar > .modal-control-pane:focused > .modal-close-btn{
    -fx-background-color: error-dark-color;
}

.modal > .content {
    -fx-padding: 5px;
}

