.vbox-pane {
    -fx-spacing: 10px;
    -fx-padding: 5px;
}

.flow-pane {
    -fx-vgap: 10px;
    -fx-hgap: 10px;
}

.hbox-separator {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

.badge-placeholder {
    -fx-pref-width: 42px;
    -fx-pref-height: 42px;
    -fx-background-color: #eee;
    -fx-background-radius: 10px;
}

.badge-pane {
    -fx-spacing: 20px;
}

.search-pane {
    -fx-spacing: 20px;
}

.search-demo {
    -fx-pref-width: 200px;
}